html{
    position: relative;
    min-height: 100vh;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0 0 0 .3em;
    color:#DFE2E6;
}
header{
    background-color:#000000;
    padding: 1.25em;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FCFDFF;
}

main {
    flex: 1;
    margin: 3em 1.5em 5em 5em;
}

main .writing-link {
    color: #657598;
}

main .writing-link:hover {
    color: #FF0000;
}

footer{
    background-color:#000000;
    padding: .75em;
    position: default;
    bottom: 0;
    width: 100%;
    height: 4em;
    color:#9FA5AA;
}

.nav-link{
    color:#9FA5AA;
    text-decoration: none;
}

.nav-link:hover,
.nav-linked:visited{
    color: #FCFDFF;
}

li {
    color: #000000;
    text-decoration: none;
}

.photos img {
    height: 200px;
    width: auto;
}

.col-2 {
    width: 45%;
}

.bmore-election { 
    width: 30%
}

.scatterplot {
    width: 50%;
}

nav a,
main a,
main li {
    text-decoration: none;
}

nav a.nav-link {
    color: #9FA5AA;
}

nav a.nav-link:hover,
nav a.nav-linked:visited {
    color: #FCFDFF; 
}

main li a {
    color: #82878B !important; 
    text-decoration: none !important; 
}

main li a:hover {
    color: #000 !important; 
}

main .writing-link {
    color: #657598;
}

main .writing-link:hover {
    color: #000000; 
}

.cover-image{
    width: 350px;
}

.social-icons i {
    color: black;
    font-size: 30px;
    margin-right: .25em;

}

* {box-sizing:border-box}



@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.random-link {
    color: black; 
    text-decoration: none; 
}

.random-link:hover {
    color: #8ACE00; 
}

a {
    color: gray;
}

a:hover {
    color: black;
}