@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #144457;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  color: white;
}

/* ---------------- LAYOUT ---------------- */

.page {
  background-color: #144457;
  min-height: 100vh;
  width: 100%;
  padding: 60px 200px;
  display: flex;
  flex-direction: column;
}

/* responsive */
@media (max-width: 900px) {
  .page {
    padding: 40px 24px;
  }
}

/* ---------------- NAV ---------------- */

.nav {
  display: flex;
  gap: 32px;
  margin-bottom: 60px;
}

.nav a {
  text-decoration: none;
  font-family: 'DM Mono', sans-serif;
  font-size: 15px;
  font-weight: 700;
  padding: 4px 8px;
  background-color: rgba(161, 225, 255, 0.198);
  color: #8ecae6;
  border-radius: 2px;
  transition: transform 0.2s ease;
}

.nav a:hover {
  transform: scale(1.06);
}

/* ---------------- TYPOGRAPHY ---------------- */

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 55px 0;
}

/* ---------------- SOCIALS ---------------- */

.socials {
  display: flex;
  gap: 15px;
}

.socials a {
  font-size: 30px;
  transition: opacity 0.2s ease;
}

.socials a:hover {
  opacity: 0.7;
}

/* ---------------- BODY TEXT ---------------- */

.body-text {
  max-width: 900px;
}

.body-text p {
  font-family: 'Inter', sans-serif;
  font-size: 15.5px;
  line-height: 1.7;
  margin-bottom: 25px;
}


.body-text a:hover {
  color: #8ecae6;
  text-decoration: none;
  opacity: 0.8;
}


/* ---------------- ANIMATED UNDERLINE ---------------- */

.body-text a,
.report-section a {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-size: 15.5px;
  text-decoration: none;
}

.body-text a::after,
.report-section a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #8ecae6;
  transition: width 0.3s ease;
}

.body-text a:hover::after,
.report-section a:hover::after {
  width: 100%;
}

/* ---------------- REPORTING ---------------- */

.reporting-page h1 {
  margin: 0 0 30px 0;
}

.report-section {
  margin-bottom: 7px;
}

.report-section h2 {
  font-family: 'Inter', monospace;
  font-size: 16px;
}

.section-desc {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #cecece;
  margin: -10px 0 12px 0;
}

.report-section li {
  line-height: 1.6;
}


.report-section a:hover {
  color: #8ecae6;
  opacity: 0.8;
}

.report-section ul {
  padding-left: 18px;
}


/* ---------------- GRAPHICS GRID ---------------- */

.graphics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

/* ---------------- GRAPHIC CARD ---------------- */

.graphic-card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: transform 0.25s ease;
}

.graphic-card:hover {
  transform: translateY(-6px);
}

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
}

.skill-tag {
  background-color: rgba(161, 225, 255, 0.198);
  color: #8ecae6;

  font-family: 'DM Mono', monospace;
  font-size: 11px;
  font-weight: 700;

  padding: 4px 8px;

  border-radius: 2px;
}

.page-subhead {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #cfd8dc;
  margin: -50px 0 40px 0;
}

.graphic-subhead {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  color: #cfd8dc;
  margin-top: 4px;
}

/* MEDIA */

.graphic-media,
.graphic-card img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
}

/* TEXT */

.graphic-title {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.graphic-meta {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #cfd8dc;
}

/* ---------------- FOOTER ---------------- */

.footer {
  margin-top: auto;
  padding-top: 80px;
  text-align: center;
  font-family: 'DM Mono', monospace;
  font-size: 14px;
}